.admin__container{
    display: flex;
    // justify-content: end;
    // align-items: center;
    // --width-sidebar : 190px;
    .ps-sidebar-root{
        min-width: 190px;
        width: 190px;
        background-color: #ffcad4;
        &.ps-collapsed{
            min-width: 75px;
            width: 75px;

            // ~ .admin__content{
            //     width: calc(100% - 75px);
            //     .container{
            //         width: 1710px;
            //     }
            // }

            // ~ .container{
            //     width: 1710px;
            // }
        }
        .ps-menu-root{

            .ps-menuitem-root{
                height: 85px;
                // display: flex;
                // justify-content: flex-start;
                // width: 100%;
                // align-items: center;
                
                // .ps-menu-button{
                //     width: 100%;
                //     &.ps-active{
                //         border: 1px solid #FBC4AB;
                //         background: #FFF;
                //         border-radius: 12px;
                //     }
                //     .ps-menu-icon{
                //         &.ps-active svg {
                //             path, polyline{
                //                 color: #F08080;
                //                 opacity: 1;
                //                 border-radius: 12px;
                //             }
                            
                //         }
                //     }
                //     .ps-menu-label {
                //         font-family: 'Poppins', sans-serif;
                //         font-size: 14px;
                //         display: flex;
                //         align-items: center;
                //         height: 20px;
    
                    
                //     }
                // }
            }
            
        }

        
    }
    // .ps-collapsed ~ .admin__content{
    //     width: calc(100% - 75px);
    // }
    .admin__content{
        background: #FFFAF5;
        width: 100% ;
        display: flex;
        flex-direction: column;
        // .container{
        //     height: 100%;
        //     width: calc(100% - 120px);
        //     display: flex;
        //     flex-direction: column;
        //     // justify-content: center;
        //     // align-items: center;
            
        // .navbar{
        //     margin-top: 30px;
        //     display: flex;            
        //     justify-content: space-between;
        //     --width-topbar-func : 30%;
        //     flex-direction: row;
        //         .topbar__function{
                
        //             position: relative;
        //             display: flex;
        //             width: var(--width-topbar-func);
        //             gap:15px;
        //             .title{
        //                 font-family: 'Poppins',sans-serif;
                    
        //                 font-weight: 700;
        //                 font-size: 3.2rem;
        //                 line-height: 119%;
        //                 color: #000958;
        //             }
        //             span{
        //                 display: flex;
        //                 justify-content: center;
        //                 align-items: center;
        //                 border: 1px solid #ccc;
        //                 border-radius: 8px;
        //                 width: 30px;

        //                 &:hover{
        //                     background: #FFDAB9;
        //                 }
        //             }

        //             &::after{
        //                 content: '';
        //                 position: absolute;
        //                 width: 42px;
        //                 height: 3px;
        //                 transform: rotate(90deg);                       
        //                 background: #ccc;
        //                 border-radius: 99px;
        //                 bottom: 21px;
        //                 right: 135px;
        //             }
        //         }

        //         // .topbar__action{
        //         //     width: 50%;
        //         //     display: flex;
        //         //     justify-content: space-between;
        //         //     align-items: center;
        //         //     width: calc(100% - var(--width-topbar-func));
        //         //     .topbar__search{
        //         //         width: 80%;
        //         //         input{
        //         //             width: 100%;
        //         //         }
        //         //     }
        //         // }
        //     }
        // .display{
        //     margin-top: 50px;
        //     border: 1px solid green;
        //     height: inherit;
        // }   
        // }
    }
}