


    // display: flex;
    // .icon{        
    //     font-size: 30px;
    //     width: 50px;
    //     height: 50px;
    //     align-items: center;
    //     display: flex;
    //     justify-content: center;
    //     cursor: pointer;
    // }
    // .register__media{
    //     width: 40%;
    //     height: 100vh;
    //     background-color: #fffaf5;
    //     padding: 40px;
    //     display: inline-flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: flex-start;
    //     row-gap: 20px;
    //     .logo{
    //         margin-right: auto;
    //         width: 200px;
    //     }
    //     p{
    //         margin-top: 78px;
            
    //         font-weight: 400;
    //         font-size: 3.2rem;
    //         line-height: 188%;
    //         /* or 188% */


    //         color: #656689;
    //     }
    //     .img{
    //         display: inline-block;
    //         margin: 30px auto;
    //     }
    // }
    // .register__container{
    //     width: 60%;
    //     background: #FFF;
    //     border: 1px solid #fff;
    //     border-radius: 30px;
    //     padding: 40px;
       
    //     height: 100vh;
    //     .register__header{
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //     }

    //     .container{
    //         max-width: calc(100% - 60px);
    //         .register__form-container{
    //             margin-top: 65px;
    //             margin-bottom: 60px;
    //             .form__input{
    //                 margin-top: 38px;                       
    //                 &:nth-child(1){
    //                     margin-top: 0;
    //                 }
    //             }
    //             // .register__title{
    //             //     font-weight: 600;
    //             //     font-size: 5.2rem;
    //             //     line-height: 119%;
    //             //     /* or 115% */


    //             //     color: #000958;
    //             // }

    //             // .register__options{
    //             //     margin-top: 55px;
    //             //     display: flex;
    //             //     justify-content: space-around;
    //             //     align-items: center;
    //             //     cursor: pointer;
    //             //     .option{
    //             //         width: 300px;
    //             //         height: 60px;
    //             //         background: rgba(118, 155, 193, 0.05);
    //             //         border: 1px solid rgba(168, 160, 160, 0.5);
    //             //         border-radius: 5px;
    //             //         display: flex;
    //             //         justify-content: left;
    //             //         align-items: center;
    //             //         // gap: 10px;
    //             //         font-family: 'Poppins',sans-serif;
                        
    //             //         font-weight: 800;
    //             //         font-size: 1.8rem;
    //             //         line-height: 27px;
    //             //         letter-spacing: 0.05em;

    //             //         color: #C4C4C4;
    //             //         // span{
    //             //         //     font-size: 30px;
    //             //         //     width: 50px;
    //             //         //     height: 50px;
    //             //         //     align-items: center;
    //             //         //     display: flex;
    //             //         //     justify-content: center;
    //             //         // }
    //             //         // &.option__vkontakte span{
    //             //         //     color: blue;
    //             //         // }
    //             //     }
    //             // }

    //             // .label{
    //             //     // font-family: 'Nunito';
    //             //     // font-style: normal;
    //             //     font-family: 'Sora',sans-serif;
    //             //     display: inline-block;
    //             //     margin: 35px auto auto 0;
    //             //     text-align: center;
    //             //     width: 100%;
    //             //     font-weight: 600;
    //             //     font-size: 2.8rem;
    //             //     line-height: 1;
    //             //     letter-spacing: 0.05em;

    //             //     color: #C4C4C4;
    //             // }

    //             // .register__form{
                    
    //             //     // margin-top: 35px;
    //             //     // display: flex;
    //             //     // flex-direction: column;
    //             //     // justify-content: center;
    //             //     // align-items: center;                   
    //             //     .form__input{
    //             //         margin-top: 38px;                       
    //             //         &:nth-child(1){
    //             //             margin-top: 0;
    //             //         }
    //             //     }

    //             //     // button{
    //             //     //     margin-top: 42px;
    //             //     //     --height:60px;
            
    //             //     //     /* height: var(--height);     */
    //             //     //     min-width: 190px;
    //             //     //     box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);               
    //             //     //     font-size: 1.6rem;   
                        
    //             //     // }

    //             //     .extra{
    //             //         // display: flex;
    //             //         // justify-content: space-between;
    //             //         // margin-top: 18px;
    //             //         // width: 320px;
    //             //         // font-weight: 500;
    //             //         // font-size: 1.6rem;
    //             //         // line-height: 1.5;
    //             //         // /* identical to box height */
    //             //         // gap: 10px;
    //             //         // text-align: center;
                    
                        
    //             //         span{
    //             //             color: #616161;
    //             //         }

    //             //     }

    //             // }


    //         }
    //     }
    // }

    .container{
        max-width: calc(100% - 60px);
        .form-container{
            margin-top: 65px;
            margin-bottom: 60px;
            .form__input{
               
                position: relative;
                margin-top: 38px;                       
                &:nth-child(1){
                    margin-top: 0;
                }

                .input__error{
                    position: relative;
                    margin-top: 10px;
                    text-align: left;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1;
                    /* identical to box height, or 100% */                   

                    color: #FF5B2E;

                    // &:after{
                    //     display: none;
                    //     position: absolute;
                    //     content: '';
                    //     width: 10px;
                    //     height: 10px;
                    //     border: 1px solid green;
                    //     border-radius: 50%;
                    //     top: 0;
                    //     right: 0;
                    //     background: green($color: #000000);
                    // }

                
                }

                span{
                    position: absolute;
                    content: '';
                    top: 14px;
                    right: 0;
                    padding-right: 10px;
                    height: 20px;
                    color: red;
                    // display: none;
                }

                
            }
            .cta-login{
                cursor: pointer;
            }
            // .register__title{
            //     font-weight: 600;
            //     font-size: 5.2rem;
            //     line-height: 119%;
            //     /* or 115% */


            //     color: #000958;
            // }

            // .register__options{
            //     margin-top: 55px;
            //     display: flex;
            //     justify-content: space-around;
            //     align-items: center;
            //     cursor: pointer;
            //     .option{
            //         width: 300px;
            //         height: 60px;
            //         background: rgba(118, 155, 193, 0.05);
            //         border: 1px solid rgba(168, 160, 160, 0.5);
            //         border-radius: 5px;
            //         display: flex;
            //         justify-content: left;
            //         align-items: center;
            //         // gap: 10px;
            //         font-family: 'Poppins',sans-serif;
                    
            //         font-weight: 800;
            //         font-size: 1.8rem;
            //         line-height: 27px;
            //         letter-spacing: 0.05em;

            //         color: #C4C4C4;
            //         // span{
            //         //     font-size: 30px;
            //         //     width: 50px;
            //         //     height: 50px;
            //         //     align-items: center;
            //         //     display: flex;
            //         //     justify-content: center;
            //         // }
            //         // &.option__vkontakte span{
            //         //     color: blue;
            //         // }
            //     }
            // }

            // .label{
            //     // font-family: 'Nunito';
            //     // font-style: normal;
            //     font-family: 'Sora',sans-serif;
            //     display: inline-block;
            //     margin: 35px auto auto 0;
            //     text-align: center;
            //     width: 100%;
            //     font-weight: 600;
            //     font-size: 2.8rem;
            //     line-height: 1;
            //     letter-spacing: 0.05em;

            //     color: #C4C4C4;
            // }

            // .register__form{
                
            //     // margin-top: 35px;
            //     // display: flex;
            //     // flex-direction: column;
            //     // justify-content: center;
            //     // align-items: center;                   
            //     .form__input{
            //         margin-top: 38px;                       
            //         &:nth-child(1){
            //             margin-top: 0;
            //         }
            //     }

            //     // button{
            //     //     margin-top: 42px;
            //     //     --height:60px;
        
            //     //     /* height: var(--height);     */
            //     //     min-width: 190px;
            //     //     box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);               
            //     //     font-size: 1.6rem;   
                    
            //     // }

            //     .extra{
            //         // display: flex;
            //         // justify-content: space-between;
            //         // margin-top: 18px;
            //         // width: 320px;
            //         // font-weight: 500;
            //         // font-size: 1.6rem;
            //         // line-height: 1.5;
            //         // /* identical to box height */
            //         // gap: 10px;
            //         // text-align: center;
                
                    
            //         span{
            //             color: #616161;
            //         }

            //     }

            // }


        }
    }